* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
}
main {

}
.a-head-float {
    float: left;
    padding: 20px;
}
.float-icon {
    float: right;
    padding: 20px;
    display: block;
}
.float-icon > i {
    padding: 50px;
    border: 1px solid black;
    transition: all 0.4s;
}
.float-icon > i:hover {
    box-shadow: 4px 0px 4px 0 rgb(94, 94, 94);
}
/*black articles */
.article-black {
    background-color: rgb(94, 94, 94);
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.article-black-1 {
    padding: 10px
}
.article-black-2 {
    padding: 20px;
}
.article-black-3 {
    padding: 30px;
}

/* article white */
.article1 {
    display: inline-block;
    overflow: auto;
}
.article2 {
    padding: 20px;
}
.article3 {
    padding: 30px;
}

/* container */
.container-first {
    float: left;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}
.container {
    padding: 10px;
    margin: 5px;
    border: 3px solid black;
}
.container2 {
    border: 3px solid black;
}
footer {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    text-align: center;
}